spring:
  datasource:
    url: jdbc:mysql://localhost:3306/Online_Food_Ordering_System?createDatabaseIfNotExist = true
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
